import requests as request
from datetime import datetime
import subprocess
import sys

#Instalar um pacote
def instalar_pacote(pacote):
    try:
        __import__(pacote)
    except ImportError:
        subprocess.check_call([sys.executable, '-m', 'pip', 'install', pacote])

#Instalar o módulo requests
instalar_pacote('requests')

import requests
from datetime import datetime

def obter_imagem_do_dia(api_key, data=None):

    url = 'https://api.nasa.gov/planetary/apod'
    params = {
        'api_key': api_key
    }
    if data:
        params['date'] = data

    try:
# Fazer a solicitação GET
        response = requests.get(url, params=params)
        print(f'Resposta da API: {response.status_code}')  # Adicionando status code para diagnóstico
# Verificar se a solicitação foi bem-sucedida
        response.raise_for_status()

# Converter a resposta em JSON
        data = response.json()

# Retornar a URL da imagem e a descrição
        return data['url'], data['explanation']

    except requests.RequestException as e:

# Tratar erros de solicitação e retornar uma mensagem de erro
        return f'Erro ao obter a imagem: {e}', None

def main():
    """
    Função principal que solicita a chave da API e fornece a Imagem do Dia da NASA ou uma imagem de uma data específica.
    """
# Solicitar a chave de API do usuário
    api_key = input("Digite a chave da API da NASA: ").strip()

    if not api_key:
        print("Erro: A chave da API não foi fornecida.")
        return

    while True:
        print("\nEscolha uma opção:")
        print("1. Obter a imagem do dia")
        print("2. Solicitar uma imagem para uma data específica")
        print("3. Sair")

        escolha = input("Digite o número da opção desejada: ").strip()

        if escolha == '1':
# Solicitar a imagem do dia atual
            url, descricao = obter_imagem_do_dia(api_key)

            if descricao:
                print('Imagem do Dia da NASA:')
                print(f'URL da Imagem: {url}')
                print(f'Descrição: {descricao}')
            else:
                print(url)

        elif escolha == '2':

# Solicitar uma imagem para uma data específica
            data = input("Digite a data no formato YYYY-MM-DD: ").strip()

# Validar o formato da data
            try:
                datetime.strptime(data, '%Y-%m-%d')
            except ValueError:
                print("Erro: Data no formato inválido. Use o formato YYYY-MM-DD.")
                continue

            url, descricao = obter_imagem_do_dia(api_key, data)

            if descricao:
                print('Imagem para a Data Solicitada:')
                print(f'URL da Imagem: {url}')
                print(f'Descrição: {descricao}')
            else:
                print(url)

        elif escolha == '3':
            print('Saindo...')
            break

        else:
            print('Erro: Opção inválida. Tente novamente.')

if __name__ == "__main__":
    main()
